# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 599d342ce5edc83e019653320e57c3c7861429a10056c6fcde491d54d09c7022d01af4e49fa13d544e11e5d9438076c4cdeca5c75ff70882f2b7edb5ae76ebd3

test:
  secret_key_base: 954c718acd9da44d2958eb5c090f2f597f9a3d2416b484377a5841d7f1a0b670788c01d5e44069cc81fcf371afe4105337a1ad64d8226ca003e6b2b9e1ec6cc4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
